.app {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.part {
  min-width: 370px;
  margin: 10px;
}
/*end app css*/

/*begin credit card css*/
.card {
  margin-top: 4em;
  background-color: #042848;
  border-radius: 15px;
  color: white;
  font-family: sans-serif;
  padding: 10px;
}
.company {
  text-align: right;
  font-size: 26px;
  margin: 10px 10px 0;
}
.info {
  display: flex;
}
.infoText {
  flex-basis: 220px;
}
.infoLogo {
  
  width:20px;
  text-align: center;
  flex: 1;
  padding: 30px 10px 0;
}
.infoLogo img {
  width: 100%;
}
.number {
  font-size: 18px;
  margin-top: 10px;
  font-family: monospace;
}
.date {
  text-align: right;
  font-size: 18px;
  font-family: monospace;
}
.name {
  margin: 0;
  font-size: 18px;
}
/*end credit card css*/

/*begin credit card form css*/
.input {
  flex: 1;
  min-width: 20px;
  margin: 5px;
  font-size: 20px;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid black;
}
/*end credit card form css*/
body {
  background-color: skyblue;

}